<div class="mb-3">
  <label for="bookTitle" class="form-label">Title</label>
  <input
    type="text"
    name="title"
    id="bookTitle"
    class="form-control"
    value="<%= book.title %>"
    required
  />
</div>

<div class="mb-3">
    <label for="author" class="form-label">Author Name</label>
    <input 
        type="text" 
        name="author" 
        id="author" 
        class="form-control" 
        value="<%= book.author %>"
        required
    >
</div>

<div class="mb-3">
    <label for="overview" class="form-label">Overview / Description</label>
    <textarea 
        name="overview" 
        id="overview" 
        class="form-control" 
        rows="4"
    ><%= book.overview %></textarea>
</div>

<div class="mb-3">
    <label for="genre" class="form-label">Genre</label>
    <select name="genre" id="genre" class="form-select" required>
        <option label="Select Genre" value="" disabled selected></option>
        <% genres.forEach(genre => { %>
            <option 
                value="<%= genre.id %>" 
                label="<%= genre.name %>"
                <% if (genre.id.toString() === book.genre?.toString()) { %>
                    selected
                <% } %>
            ></option>
        <% }) %>
    </select>
</div>

<div class="mb-3">
  <label for="publishDate" class="form-label">Published/Created Date</label>
  <input
    type="date"
    name="publishDate"
    id="publishDate"
    class="form-control"
    value="<%= book.publishDate ? book.publishDate.toISOString().split('T')[0] : '' %>"
  />
</div>

<div class="mb-3">
  <label for="coverImage" class="form-label">Cover Image</label>
  <input type="file" name="cover" id="coverImage" class="form-control" />
</div>
